; Get the auth token to use for fetching private packages from our private scope
; see http://blog.npmjs.org/post/118393368555/deploying-with-npm-private-modules
; and also https://docs.npmjs.com/files/npmrc
;@wolven531:registry=https://registry.npmjs.org:_authToken=${NPM_TOKEN}
//registry.npmjs.org:_authToken=${NPM_TOKEN}
